#header {
    background-color: #5e1a80;
}

.form {
    margin: 30px 0;
    /*width: 350px;*/
    padding: 20px 20px;
}

.form .row {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
    min-width: 300px;
}

.form .row input[type=text],
.form .row input[type=date]{
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form .row input[type=submit] {
    margin-top: 30px;
}

.form .row label>span.required {
    display: none;
}